form{
    background-color: rgb(223, 240, 255);
    padding: 40px;
    border-radius: 5px;
}
form * {
    margin: 5px;
    width: 100%;
}

form input,textarea{
    padding:5px 10px;
    font-size: 10px;
    border: none;
    border-radius: 5px;
}
form label{
   display: flex;
   align-items: center;
   color: gray;
}
form label input,form input[type='radio']
{
    width: auto;
}
.d-flex{
    display: flex;
}
